@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;;
}
body {
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
header {
    padding: 20px;
}
.title {
    color: white;
    text-align: center;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.perfil {
    transition: 1s;
    width: 20%;
}
.perfil:hover {
    transition: 1s;
    width: 23%;
}
.perfil img {
    width: 100%;
    border-radius: 10px;
}
.perfil p {
    color: white;
    text-align: center;
}